doctype html
html
    head
        meta(charset="utf-8")
        title hello world
        link(rel="stylesheet" href="index.css")
    body
        canvas.emulator

        script(src="../../bower_components/requirejs/require.js")
        script(src="config.js")
        script.
            require(['src/home/index'])

